body {
  background-color: #272822 	;
  color: #3f3;
  font: monospace;
}

.grid-container {
  color: #acada1;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 6em 2.4em 2em 10em 1em;
  gap: 2em 2em;
  font-size:20px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #76715e;
}

.nav a {
  color: #55bcce;
  text-decoration: none;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: #d4c96e;
}
