body {
  background-color: #2e3440;
  font-family: "sourcecodepro", monospace;
  font-style: normal;
  font-weight: 500;
  color: #d8dee9;
  font-size: 1em;
}

hr {
  border: 0.1em solid #3b4252;
}

nav ol {
  list-style: square;
  color: #5e81ac;
}

ul {
  list-style: square;
}

h1 {
  color: #eceff4;
  font-size: 1.8em;
}

h2 {
  color: #eceff4;
  font-size: 1.4em;
}

time {
  color: #d8dee9;
  font-size: 1em;
}

a{
  text-decoration: none;
  color: #81a1c1;
}

footer {
  color: #4c566a;
}

.title {
  color: #88c0d0;
}

@font-face {
  font-family: "sourcecodepro";
  src: url("../fonts/ofl/sourcecodepro/SourceCodePro-VariableFont_wght.ttf");
}