:root {
  --text-color: #3b3;
  --hover-color: #33b;
  --bg-color: #000800;
}

* {
  font-family: 'ibm-plex-light', sans-serif;
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration-line: none;
}

article a {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

body {
  background-color: var(--bg-color);
}

a:hover{
  color: var(--hover-color);
}

hr {
  border: 1px dashed;
}

footer {
  font-family: 'ibm-plex-extralight', sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

#title-grid {
  grid-column-start: 1;
  grid-column-end: span 3;
}

#title {
  text-align: center;
  font-family: 'ibm-plex-regular', sans-serif;
}

#title a {
  font-family: 'ibm-plex-regular', sans-serif;
  font-size: 2.4rem;
}

#navbar-grid {
  grid-column-start: 1;
  grid-column-end: span 3;
}

#navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1.5rem auto;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  font-size: 1.4rem;
  border-width: 4px;
  border-style: solid double double solid;
  padding: 0.2rem;
}

#footer-grid {
  grid-column-start: 1;
  grid-column-end: span 3;
}

#enhancedbutton {
  display: inline;
  border-width: 4px;
  border-style: solid double double solid;
  padding :2px;
  text-decoration: none;
}

@font-face {
  font-family: "ibm-plex-extralight";
  src: url("../fonts/ofl/IBM_Plex/IBMPlexSansCondensed-ExtraLight.woff2");
}

@font-face {
  font-family: "ibm-plex-light";
  src: url("../fonts/ofl/IBM_Plex/IBMPlexSansCondensed-Light.woff2");
}

@font-face {
  font-family: "ibm-plex-medium";
  src: url("../fonts/ofl/IBM_Plex/IBMPlexSansCondensed-Medium.woff2");
}

@font-face {
  font-family: "ibm-plex-regular";
  src: url("../fonts/ofl/IBM_Plex/IBMPlexSansCondensed-Regular.woff2");
}
