body {
  background-color: #000200;
  color: #3F3;
  font-family: VT323;
  font-size: 1.4em;
}

hr {
  border: 1px solid #3f3;

}

a {
  color: #3F3;
  text-decoration: underline dotted;
  text-decoration-thickness: 1px;
}

footer {
  text-align: center;
  color: #3F3;
}

.flex-title {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
}

.flex-nav ol{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: baseline;
  margin-left: 6%;
  margin-right: 6%;
  list-style: none;
}

.flex-container {
  display: flex;
  flex-flow: column-reverse;
  justify-content: left;
  margin-left: 8%;
  margin-right: 8%;
}

.flex-container h2{
  text-align: center;
}

@font-face {
  font-family: "VT323";
  src: url("../fonts/ofl/VT323/VT323-Regular.ttf");
}
